# URL de la aplicación
BASE_URL=

# Credenciales de usuarios
STANDARD_USER=
LOCKED_USER=
INVALID_USER=
PASSWORD=
INVALID_PASSWORD=

# Configuración de timeouts (en milisegundos)
ACTION_TIMEOUT=
NAVIGATION_TIMEOUT=
TEST_TIMEOUT=

# Configuración de Playwright
HEADLESS=
VIEWPORT_WIDTH=
VIEWPORT_HEIGHT=

# Grabación de video (true/false)
RECORD_VIDEO=

# Ambiente (dev, qa, prod)
ENVIRONMENT=